.env

# IDE files - IntelliJ IDEA
.idea/misc.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules/
.idea/modules.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/kotlinc.xml
